*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.img-fluid{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.img-fluid{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.navbar-toggler {
     outline: none;
     padding: 0;
}
.fa{
    font-size: 30px;
    position: right;
}
.navbar-brand img{
    width: 300px;
}
.nav-link{
    color: black;
    font-weight: 600;
    margin-left: 30px;
}
.wrapper{
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 40px 2px rgba(37,73,214,0.18);
}
.feature-box{
    padding: 40px;
    color: black;
}
.feature-box h1{
    margin-top: 10%;
}
.feature-box p{
    margin: 50px auto;
}
.feature-box a{
    text-decoration: none;
    background: black;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 30px;
    border: 2px solid black;
    color: white;
}
btn-one :hover{
    color: white;
}
/* ---- Footer ---- */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
 }
 .footer h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
 }
 .icons .fa{
    color: brown;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;

 }
 .about-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 8%;
 }
 .contact-us{
    width: 80%;
    margin: auto; 
} 
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    margin:10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid black;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 300vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}
.gototop{
    position: fixed;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    background: blue;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
img{
    max-width: 100%;
}
h1{
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
}
.gallery{
    /* background-color: rgb(127, 171, 127); */
    padding: 80px , 0;
    align-items: center;
}
.gallery-item{
    display: block;
    width: 100%;
    padding: 50px;
}
.gallery img{
   cursor: pointer;
}
#gallery-modal .modal-img{
    width: 100%;
}